html {
    box-sizing: border-box;
}

*,::after,::before {
    box-sizing: inherit;
}

body {
    background: #d5d1d1;
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
  }

  .form {  
    padding: auto;
    margin: 20px;
  width: 700px;
    @media(max: width 767px;){
      .form {
          grid-template-columns: 1fr;
      }
  }
  }
  
  .inputList {
      border: 2px solid white;
    margin: 20px; 
    background-color: white;
    padding: 25px;
    width: 900px;
  }
  
  .tasks {
    list-style: none;
    
  }
  
  .remove {
    background: red;
  }
  
  .toggleDone {
    background: green;
  }
  
  .task {
      display: flex;
      flex-wrap: 10px;
      flex-basis: 100px;
      padding: 0px;
      margin: 10px;
      border-bottom: 1px solid #eee;
      
  }
  
  .header {
      border-bottom: 1px solid #eee;
      
  }
  
  .list {
      padding: 20px;
  }
  
  .input {
      border: 2px solid white;
      background-color: white;
      padding: 25px;
      width: 900px;
     
  }
  
  .inputForm {
      border-bottom: 1px solid #eee;  
  }

  .button {
    background-color: #326c86;
    color: white;
    
  }